<%= render "shared/header" %>
<%= form_with model: @shop, url: shop_registration_path, class: 'registration-main contaiber', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      店舗情報入力
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="info-text">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"shop_email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="info-text">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"shop_password", placeholder:"6文字以上の半角英数字" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
      <span class="info-text">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"shop_password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>

  <div class="row p-2 mt-5 mb-3 bg-light"></div>


  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お店の名前</label>
      <span class="info-text">必須</span>
    </div>
    <%= f.text_area :name, class:"input-default", id:"shop_name", placeholder:"例）店名・店舗名", maxlength:"40" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お店の名前(全角カナ)</label>
      <span class="info-text">必須</span>
    </div>
    <%= f.text_area :name_kana, class:"input-default", id:"shop_name_kana", placeholder:"例) テンメイ・テンポメイ" %>
  </div>
  <div class="input-time-wrap">
    <div class='form-time-wrap'>
      <label class="form-text">お店のジャンル</label>
      <span class="info-text">必須</span>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select", id:"shop_genre"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お店のこだわり</label>
      <span class="info-text">必須</span>
    </div>
      <%= f.text_area :text, class: :form__text, id:"shop_text" , placeholder:"例）中華料理専門店です"%>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お店住所</label>
      <span class="info-text">必須</span>
    </div>
      <%= f.text_area :address, class:"input-default", id:"shop_address", placeholder:"例) 長岡市〇〇町１ー３ー４" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">建物名</label>
    </div>
      <%= f.text_area :building_name, class:"input-default", id:"shop_:building_name" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">電話番号</label>
      <span class="info-text">必須</span>
    </div>
      <%= f.text_area :tel, class:"input-default", id:"shop_tel" , placeholder:"例) 0258000000"%>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">定休日</label>
      <span class="info-text">必須</span>
    </div>
    <%= f.text_area :holiday, class:"input-default", id:"shop_holiday", placeholder:"例) 第一火曜、月曜定休"%>
  </div>
  <div class="input-time-wrap ">
    <div class='form-time-wrap'>
      <label class="form-text">開店時間</label>
      <span class="info-text">必須</span>
      <%= f.time_select :opentime_at, id:"shop_opentime", class: "select"%>
    </div>
    <div class='form-time-wrap'>
      <label class="form-text">閉店時間</label>
      <span class="info-text">必須</span>
      <%= f.time_select :closetime_at, id:"shop_closetime", class: "select" %>
    </div>
  </div>
  <div class="input-time-wrap">
    <div class='form-time-wrap'>
      <label class="form-text">駐車場の有無</label>
      <span class="info-text">必須</span>
      <%= f.collection_select(:parking_id, Parking.all, :id, :name, {}, {class:"select", id:"shop_parking"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">駐車場の説明</label>
    </div>
    <%= f.text_area :parking_explain, class: :form__text, id:"shop_parking_explain", placeholder:"例) ３台分有り。無い場合は近いパーキング名を入力お願いします" %>
  </div>
  <div class="form-group">
    <h2 class='form-bottom-text'>
      「飲食店登録」のボタンを押すことにより、
      <span>利用規約</span>
      に同意したものとみなします
    </h2>
  </div>
  <div class='register-btn'>
    <%= f.submit "飲食店登録" ,class:"register-red-btn rounded" %>
  </div>
</div>
<% end %>

<%= render "shared/footer" %>