<%= render "shared/header" %>
<%= render "top_index" %>
<main>
<div class="container">

  <%# 画面上部 %>
  <%# 検索 %>

  <div class='text-image'>
    <%= image_tag "PAK85_yakisobatotamago20130824_TP_V.jpg"%>
    <p>
    事前注文＆決済が可能！テイクアウト注文に特化したサービスです。<br>
    新潟県長岡市にある大好きなお店、気になるお店の味をご自宅で！
    </p>
	</div>

<%# 飲食店一覧 %>

  <div class="card__wrapper">
    <%= render partial: "top_index", collection: @shop %>
  </div> 

  <div class='shop-contents'>
    <h3 class='shop-title'>飲食店一覧</h3>
    <div class='card__wrapper'>

    <% if @shops.present? %>

      <% @shops.each do |shop| %>
        <li class='shop-list card-group'>
          <div class="card text-center w-100">
            <div class="card-header ">
              <div class="card-subtitle text-muted me-2">飲食店名</div>
              <div class="card-title fs-5 font-weight-bold">
              <%= link_to shop.name, shop_path(shop.id), class:"text-warning stretched-link"%>
              </div>
            </div>
            <div class="card-body">
              <%= image_tag "sushi_syokunin_woman.png", class: "card-img-top" %>
            </div>
            <div class="card-footer">
              <div class="card-subtitle text-muted me-2">ジャンル</div>
              <div class="card-title fs-5 text-dark font-weight-bold"><%= shop.genre.name %></div>
            </div>
          </div>
        </li>
      <% end %>

    <% else %>
      <li class='shop-list'>
        <div class="card text-center w-100">
          <div class="card-header ">
            <div class="card-subtitle text-muted me-2">飲食店名</div>
            <div class="ccard-title fs-5 font-weight-bold">サンプル店</div>
          </div>
          <div class="card-body">
            <%= image_tag "sushi_syokunin_woman.png", class: "card-img-top" %>
          </div>
          <div class="card-footer">
            <div class="card-subtitle text-muted me-2">ジャンル</div>
            <div class="card-title fs-5 font-weight-bold">ジャンル</div>
          </div>
        </div>
      </li>
    <% end %> 
    </div>
  </div>
</div>
</main>

<%= render "shared/new_menu" %>
<%= render "shared/footer" %>
