<%= render "shared/header" %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Top</a></li>
    <li class="breadcrumb-item"><a href="/"><%= @item.shop.name %></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @item.name%></li>
  </ol>
</nav>

<div class ="container">
  <h3 class ="shop-name"><%= @item.name %></h3>
  <div class=" d-flex justify-content-center ">
    <%= link_to image_tag(@item.image, class:"rounded",size: '400x300') %>
  </div>
  
  <ul class="item_lists d-flex flex-column mt-4 ">
    <li>メニュー説明 </li>
    <b><%= @item.text%></b>
    <li>カテゴリー </li>
    <b><%= @item.category.name%></b>
    <li>価格 </li>
    <b>￥<%= @item.price%>（税込み）</b>
   </ul>

</div>



<%= render "shared/footer" %>